* {
	border: 0;
	padding: 0;
	margin: 0;
}
@media screen and(min-width: 1350px){
	body{
		background-color: black;
	}
	.product-imgs{
		max-width: 700px;
		min-width: 458px;
	}
}
body {
	    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}
button {
	background-color: transparent;
}
ul {
	margin: 0;
}
.separator {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
hr {
	width: 84%;
	text-align: center;
}
main {
	    display: flex;
    width: 100vw;
    height: 538px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.navigatorShop {
	display: flex;
	width: 65vw;
	justify-content: flex-start;
	align-items: center;
}
.buttonNav {
	background-color: transparent;
	display: none;
	padding: 15px;
	z-index: 1;
}
.logo > img {
	padding: 10px;
	width: 146px;
	height: 43px;
}
.navigatorShop > nav {
	display: flex;
	width: 100%;
	height: 43px;
	align-items: center;
}
.navList {
	width: 76%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 69%;
}
.navOpen .mobileNavBackground {
	display: block;
}
.navOpen .navigatorShop > nav {
	transform: translate(0%);
}

.closeNav {
	width: 50px;
	display: none;
}
.user {
	width: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.list {
	display: flex;
	width: 100%;
	height: 22px;
	list-style: none;
	justify-content: center;
	align-items: center;
}
.list > li {
	width: 100px;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
}
.cartButton {
	cursor: pointer;
}

#avatar-img {
	width: 30px;
	height: 30px;
}

.cart-shop {
	/*	visibility: hidden;
	opacity: 0;*/
	transition: opacity 0.3s linear;
	top: 10%;
	display: flex;
	position: absolute;
	right: 39px;
	background-color: white;
	width: 250px;
	height: 150px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 7px 10px 0px #00000052;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cart-shop > h3 {
	width: 100%;
	font-size: 15px;
	transition: visibility 0s linear 0s, opacity 300ms;
}
.cart-desactive {
	visibility: hidden;
	opacity: 0;
}
.product {
	width: 90%;
	display: flex;
	height: 80vh;
	justify-content: space-evenly;
	align-items: center;
}
.product-imgs {
	padding: 20px;
	height: 90vh;
	max-width: 444px;
	min-width: 340px;
	/* width: 30%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-thumbs {
	margin-top: 30px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.product-thumbs > img {
	border-radius: 10px;
	width: 20%;
}
.img-main {
	border-radius: 10px;
	width: 100%;
	/*height: 64%;*/
}
.product-info {
	height: 73%;
    display: flex;
    width: 39%;
    justify-content: space-evenly;
    flex-direction: column;
}
.info > h1 {
	font-weight: bold;
	font-size: clamp(0.5em, 3.5vw, 4em);
	width: 40vw;
}
.info > h3 {
	font-size: clamp(1em, 1.5vw, 2em);
	font-weight: bold;
	color: hsl(26, 100%, 55%);
}
.info > p {
	width: 100%;
}
#price {
	display: flex;
	width: 140px;
	justify-content: space-between;
	align-items: center;
}
#new-price {
	font-weight: bold;
	font-size: 1.5em;
}
#descont {
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	width: 37px;
	height: 25px;
	text-align: center;
}
.buy-product{
	display: flex;
	width: 100%;
	justify-content: flex-start;
}
.set-amount{
	display: flex;
	width: 150px;
	background-color: #0000000d;
	padding: 2px;
	border-radius: 5px;
	    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
.btn{
	border-style: none;
	width: 50px;
	height: 40px;
}
.button-add-container{
	cursor: pointer;
	padding: 10px;
	    display: flex;
    color: white;
    border-radius: 5px;
    background-color: hsl(26, 100%, 55%);
    width: 51%;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.add-cart{
	    display: flex;
    color: white;
    width: 127px;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.add-cart > span{
	font-weight: bold;
	font-size: 13px;
}
#cart-img{
	width: 18px;
	filter: brightness(2.5);
}


@media screen and (max-width: 650px) {
	.separator {
		display: none;
	}
	.buttonNav {
		display: block;
	}
	.closeNav {
		display: block;
	}
	.mobileNavBackground {
		display: none;
		left: 100%;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-color: #0000009e;
	}
	.navigatorShop > nav {
		transform: translate(-100%);
		transition: 0.5s;
		z-index: 1;
		background-color: white;
		height: 100%;
		width: 50%;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
	}
	.list {
		justify-content: normal;
		flex-direction: column;
		width: 52%;
		height: 300px;
	}
	.list > li {
		text-align: left;
		height: 50px;
		font-weight: bolder;
	}
}
