* {
	border: 0;
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
header {
	background-color: white;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}
button {
	background-color: transparent;
}
ul {
	margin: 0;
}
.separator {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
hr {
	width: 84%;
	text-align: center;
}
main {
	display: flex;
	width: 100%;
	height: 538px;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.btn-cart {
	padding: 10px;
	color: white;
	border-radius: 5px;
	background-color: hsl(26, 100%, 55%);
}
.btn-cart:hover {
	transition: 0.2s;
	filter: brightness(1.3);
}
.navigatorShop {
	display: flex;
	width: 65vw;
	justify-content: flex-start;
	align-items: center;
}
.buttonNav {
	background-color: transparent;
	display: none;
	padding: 15px;
	z-index: 1;
}
.logo > img {
	padding: 10px;
	width: 146px;
	height: 43px;
}
.navigatorShop > nav {
	display: flex;
	width: 100%;
	height: 43px;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.navList {
	width: 76%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 69%;
}
.navOpen .mobileNavBackground {
	display: block;
}
.navOpen .navigatorShop > nav {
	transform: translate(0%);
}
.closeNav {
	width: 50px;
	display: none;
}
.user {
	width: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.list {
	display: flex;
	width: 100%;
	height: 22px;
	list-style: none;
	justify-content: center;
	align-items: center;
}
.list > li {
	width: 100px;
	cursor: pointer;
	font-size: clamp(0.4em, 1.9vw, 1em);
	text-align: center;
	color: #0000007a;
}
.list > li:hover {
	transition: 0.3s;
	color: black;
}
.cartButton {
	position: relative;
	cursor: pointer;
}
.cartButton > img:hover {
	transition: 0.3s;
	filter: contrast(9);
}
#product-adds {
		text-align: center;
	font-size: 8px;
	color: white;
	top: 0;
	position: absolute;
	width: 19px;
	height: 10px;
	border-radius: 50px;
	background-color: orange;
	right: -5px;
}
#avatar-img {
	width: 30px;
	height: 30px;
}

.cart-shop {
	transition: opacity 0.3s linear;
	top: 7%;
	display: flex;
	position: absolute;
	right: 39px;
	background-color: white;
	width: 275px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 7px 10px 0px #00000052;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.cart-shop > h3 {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
}
.cart-shop > hr {
	width: 100%;
}
.container-cart {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}
.empty{
	width: 100%;
	justify-content: center;
	align-items: center;
}
.empty ~ .checkout{
	display: none;
}
#empty-message{
	display: flex;
	align-items: center;

	width: 150px;
	height: 150px;
}
.image-cart {
	width: 50px;
}
.name-product,
.price-cart {
	font-size: 10px;
}
#price-finish {
	color: black;
	font-weight: bolder;
}
.productInformation {
	color: #0000007a;
}
.checkout {
	width: 100%;
}
.cart-desactive {
	visibility: hidden;
	opacity: 0;
}
.product {
	width: 90%;
	display: flex;
	height: 80vh;
	justify-content: space-evenly;
	align-items: center;
}
.product-imgs {
	padding: 20px;
	height: 70vh;
	max-width: 444px;
	min-width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-thumbs {
	margin-top: 30px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.img-thumb {
	width: 20%;
	cursor: pointer;
	border-radius: 15px;
	transition: 0.1s;
	background-color: white;
	/*	color: #fff;*/
}
.img-thumb > img {
	border-radius: 10px;
	width: 100%;
}
.select {
	border-radius: 15px;
	filter: brightness(1.3);
	border: 4px solid hsl(26, 100%, 55%);
}

.img-thumb:hover > img {
	transition: 0.1s;
	filter: brightness(1.3);
}

.img-main {
	width: 100%;
	cursor: pointer;
}
.product-info {
	height: 73%;
	display: flex;
	width: 39%;
	justify-content: space-evenly;
	flex-direction: column;
}
.info > h1 {
	font-weight: bold;
	font-size: clamp(0.5em, 3.5vw, 4em);
	text-transform: capitalize;
	width: 40vw;
}
.info > h3 {
	font-size: clamp(1em, 1.5vw, 2em);
	font-weight: bold;
	color: hsl(26, 100%, 55%);
}
.info > p {
	font-size: clamp(0.8em, 2vw, 1em);
	width: 100%;
	letter-spacing: 1px;
	line-height: 30px;
	text-indent: initial;
}
#price {
	display: flex;
	width: 140px;
	justify-content: space-between;
	align-items: center;
}
#new-price {
	font-weight: bold;
	font-size: 1.5em;
}
#descont {
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	width: 37px;
	height: 25px;
	text-align: center;
}
#price-previous{
	font-size: 10px;
	text-decoration: line-through;
}
.buy-product {
	display: flex;
	width: 100%;
	justify-content: flex-start;
}
.set-amount {
	display: flex;
	width: 150px;
	background-color: #0000000d;
	padding: 2px;
	border-radius: 5px;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
}
.btn {
	border-style: none;
	width: 50px;
	height: 40px;
}
.button-add-container {
	cursor: pointer;

	display: flex;
	width: 51%;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
}

.add-cart {
	display: flex;
	color: white;
	width: 171px;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
}
.add-cart > span {
	font-weight: bold;
	font-size: clamp(0.5em, 1.3vw, 0.8em);
}
#cart-img {
	width: 18px;
	filter: brightness(2.5);
}
.gallery-desactive {
	visibility: hidden;
	opacity: 0;
}
.product-gallery {
	transition: opacity 0.3s linear;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #00000096;
}
.gallery {
	padding: 32px;
	max-width: 530px;
	min-width: 374px;
}
.btn-gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50px;
	background-color: white;
	position: absolute;
	top: 50%;
}
.btn-gallery > img {
	width: 8px;
}
.main-img-container {
	position: relative;
}
.close-btn {
	filter: brightness(2.5);
	position: absolute;
	right: 0;
	top: -45px;
}
.close-btn:hover {
	filter: invert(54%) sepia(99%) saturate(1873%) hue-rotate(347deg)
		brightness(100%) contrast(102%);
}
.prev-btn {
	left: -20px;
}
.prev-btn:hover img {
	filter: invert(54%) sepia(99%) saturate(1873%) hue-rotate(347deg)
		brightness(100%) contrast(102%);
}
.next-btn {
	right: -20px;
}
.next-btn:hover img {
	filter: invert(54%) sepia(99%) saturate(1873%) hue-rotate(347deg)
		brightness(100%) contrast(102%);
}

@media screen and (max-width: 620px) {
	header {
		z-index: 1;
		height: 63px;
		padding: 0px;
	}
	.mobileNavBackground {
		left: 100%;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-color: #0000009e;
	}
	.navigatorShop > nav {
		transform: translate(-100%);
		transition: 0.5s;
		z-index: 1;
		background-color: white;
		height: 100%;
		width: 50%;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
		justify-content: safe flex-start;
	}
	.navList {
		height: 56%;
		justify-content: space-evenly;
	}
	.list {
		justify-content: normal;
		flex-direction: column;
		width: 100%;
		height: 386px;
	}
	.list > li {
		text-align: left;
		height: 50px;
		font-weight: bolder;
		font-size: 15px;
	}
	.prev-btn {
		left: 10px;
	}
	.next-btn {
		right: 10px;
	}
	.gallery {
		max-width: 431px;
		min-width: 325px;
		padding: 0px;
	}
	.main-img-container {
		top: -26px;
	}
	.buttonNav,
	.closeNav {
		display: block;
	}
	.product,
	.product-gallery {
		flex-direction: column;
	}
	.product-gallery {
		height: auto;
		display: block;
	}
	.product {
		width: 100%;
		justify-content: normal;
		height: 100%;
	}
	.button-add-container > .add-cart {
		width: 190px;
	}
	.add-cart > span {
		font-size: 13px;
	}
	.separator {
		display: none;
	}
	.product-imgs,
	.product-thumbs,
	.close-btn,
	.mobileNavBackground {
		display: none;
	}
	.product-gallery {
		background-color: transparent;
		position: static;
		visibility: visible;
		opacity: 1;
		width: auto;
		justify-content: flex-start;
	}
	.product-info {
		max-width: 450px;
		min-width: 335px;
		margin: 10px;
		padding: 10px;
		height: 100vh;
		justify-content: space-evenly;
	}
	.info {
		font-size: clamp(0.8em, 1vw, 2em);
	}

	.info > h1 {
		font-size: 2.5em;
		width: 100%;
	}

	.price-product {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media screen and (max-width: 433px) {
	.img-main {
		border-radius: 0px;
	}
	.buy-product {
		flex-direction: column;
	}
	.buy-product {
		margin-top: 10%;
		height: 100px;
		justify-content: space-between;
	}
	.buy-product > div {
		margin-right: 0px;
		width: 100%;
	}
}
